<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>

    <ul id="example-2">
        <li v-for="(item,index) of items">
            {{ parentMessage }} - {{ index }} - {{item.message}}
        </li>
    </ul>

    <ul id="v-for-object" class="demo">
        <li v-for="(value, name, index) in object">
            {{index}}: {{ name }} - {{ value }}
        </li>
    </ul>

    <div v-for="item in items" :key="item.id">
        {{ item }}
    </div>
    <script src="v-for.js"></script>
</body>

</html>